name: Valctk Haber Bot (Every 39 Minutes)

on:
  workflow_dispatch:
  schedule:
    - cron: "*/39 * * * *"

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          python3 -V
          ls -la
